body {
    font-family: 'sans serif';
}

.die {
    flex-direction: row;
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.die-img {
    vertical-align: middle;
    padding: 0 0;
    width: 60px;
}

.die > button {
    
}